DEBUG=0
SECRET_KEY=change-this-with-a-long-random-secret-key-minimum-50-chars
ALLOWED_HOSTS=.onrender.com,localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=https://TON-FRONTEND.onrender.com,http://localhost:5173,http://127.0.0.1:5173
CSRF_TRUSTED_ORIGINS=https://TON-BACKEND.onrender.com,https://TON-FRONTEND.onrender.com
DATABASE_URL=postgresql://USER:PASSWORD@HOST:PORT/DBNAME
FEDAPAY_ENV=sandbox
FEDAPAY_SECRET_KEY=put-secret-key-only-on-render
FEDAPAY_WEBHOOK_SECRET=put-webhook-secret-only-on-render
ACTIVATION_AMOUNT=3500
JWT_ACCESS_HOURS=8
JWT_REFRESH_DAYS=7
